name: PyPI
on:
  push:
    tags:
      - v*
jobs:
  build-and-publish:
    name: Build and publish Python package
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/bircher
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.x
      - name: Install pypa/build
        run: python3 -m pip install --user build
      - name: Build Python package
        run: python3 -m build
      - name: Publish Python package
        uses: pypa/gh-action-pypi-publish@release/v1
